In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

In [3]:
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

In [36]:
input_data = "s3a://udacity-dend/"
output_data = "s3a://project4dend-Alqithmi/"

In [5]:
song_data = input_data + "song_data/A/B/C/*.json"

In [6]:
df = spark.read.json(song_data)

In [8]:
df.createOrReplaceTempView("songs")

In [16]:
songs_table =  spark.sql("""
    SELECT distinct 
    song_id,
    title,
    artist_id,
    year,
    duration
    FROM songs
    """).show()

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOCEMJV12A6D4F7667|Giant Steps (Alte...|ARIOZCU1187FB3A3DC|   0|220.44689|
|SOQFYBD12AB0182188|               Intro|ARAADXM1187FB3ECDB|1999| 67.63057|
|SOTDCIR12AB0184574|     I Need A Mother|ARZGTK71187B9AC7F5|2010|158.01424|
|SOUPIRU12A6D4FA1E1| Der Kleine Dompfaff|ARJIE2Y1187B994AB7|   0|152.92036|
|SODWBIK12AB017F87D|               AÃ¼ita|ARSMG8X1187B99CA99|2009| 210.1024|
|SOIKLJM12A8C136355|           Eso Duele|AR7AE0W1187B98E40E|2003|196.25751|
|SOTMKDG12A67ADAB35|        Race Of Hate|AREH0O41187FB4C405|1997|311.90159|
|SOWQTQZ12A58A7B63E|Streets On Fire (...|ARPFHN61187FB575F6|   0|279.97995|
|SOGDBUF12A8C140FAA|               Intro|AR558FS1187FB45658|2003| 75.67628|
|SOYKDVO12A58A785C9|      Killa Soundboy|ARMCJVK11F4C84373E|2008|  283.402|
|SOGHHXH12A8C13EBCB|C'Est Une Bossa Nova|ARCWVUK1187FB3C71A|1993| 130.2722|
|SOAPVNX12AB0187625|I Remember Nights...|AR5T40Y1187B9996C6|1998| 249.3122|
|SOMAPYF12A6D4FEC3E|All Day & All Of ...|AR5S9OB1187B9931E3|   0|156.62975|
|SODAUVL12A8C13D184|           Prognosis|ARWB3G61187FB49404|2000|363.85914|
|SOYLILV12A8C136650|                 XXX|ARZJDBC1187FB52056|1984|327.00036|
|SOFIUVJ12A8C13C296|Will You Tell Me ...|AR9OEB71187B9A97C6|2005|397.16526|
|SORRZGD12A6310DBC3|      Harajuku Girls|ARVBRGZ1187FB4675A|2004|290.55955|
|SOEVPWF12A58A7D254|         Astral eyes|ARCJWLU1187B9ADD36|1997|274.54649|
|SONSKXP12A8C13A2C9|         Native Soul|AR0IAWL1187B9A96D0|2003|197.19791|
|SODREIN12A58A7F2E5|A Whiter Shade Of...|ARLTWXK1187FB5A3F8|   0|326.00771|
+------------------+--------------------+------------------+----+---------+
only showing top 20 rows

In [18]:
 df.createOrReplaceTempView("artists")

In [25]:
 artists_table = spark.sql("""
       SELECT distinct
       artist_id,
       artist_name,
       artist_location,
       artist_latitude,
       artist_longitude
       FROM artists 
    """).show()

+------------------+--------------------+--------------------+---------------+----------------+
|         artist_id|         artist_name|     artist_location|artist_latitude|artist_longitude|
+------------------+--------------------+--------------------+---------------+----------------+
|ARBDJHO1252CCFA6FC|The Band of HM Ro...|                    |           null|            null|
|ARAADXM1187FB3ECDB|    Styles Of Beyond|  Woodland Hills, CA|        34.1688|      -118.61092|
|ARCWVUK1187FB3C71A|     Brigitte Bardot|                    |           null|            null|
|AR0IAWL1187B9A96D0|        Danilo Perez|              Panama|         8.4177|       -80.11278|
|ARJIE2Y1187B994AB7|         Line Renaud|                    |           null|            null|
|ARSMG8X1187B99CA99|              Macaco|                    |           null|            null|
|ARCJWLU1187B9ADD36|  Theory In Practice|                    |           null|            null|
|ARPFHN61187FB575F6|         Lupe Fiasco|         Chicago, IL|       41.88415|       -87.63241|
|ARCKOJF1241B9C75B4|        Eddie Sierra|                    |           null|            null|
|AR5T40Y1187B9996C6|    The Bear Quartet|       Lulea, Sweden|           null|            null|
|ARMCJVK11F4C84373E|      Fort Knox Five|                    |           null|            null|
|ARZGTK71187B9AC7F5|                Eels|     California, USA|           null|            null|
|AR7AE0W1187B98E40E|           Intocable|                    |           null|            null|
|AR9OEB71187B9A97C6|              Faunts|Edmonton, Alberta...|           null|            null|
|ARZJDBC1187FB52056|        Nasty Savage|    Brandon, Florida|       27.94017|       -82.32547|
|AROSPS51187B9B481F| Vince Guaraldi Trio|                    |           null|            null|
|ARIOZCU1187FB3A3DC|       JOHN COLTRANE|          Hamlet, NC|           null|            null|
|AR5S9OB1187B9931E3|         Bullet Boys|     Los Angeles, CA|       34.05349|      -118.24532|
|AREH0O41187FB4C405|             Skinlab|             Oakland|           null|            null|
|ARWB3G61187FB49404|         Steve Morse|      Hamilton, Ohio|           null|            null|
+------------------+--------------------+--------------------+---------------+----------------+
only showing top 20 rows

In [43]:
log_data = input_data + "log_data/*.json"

In [ ]:
df = spark.read.json(log_data)